/* Createtest component styles */
.Createtest {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 66px);
}

.test-subhead {
  background-color: #3498db;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #2980b9;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.edit-test {
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.edit-test:hover {
  background-color: #27ae60;
}

.Ctest-main {
  display: flex;
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  height: calc(100vh - 92px);
}

.left-bx {
  flex: 1;
  padding: 20px;
  background-color: #ecf0f1;
  border-radius: 8px;
}

.right-bx {
  flex: 3;
  padding: 20px;
  overflow-y: auto;
  max-height: 100%;
}

.section-tgl {
  background-color: #3498db;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}

.selected-tgl {
  background-color: lightblue;
}

.input-container p {
  margin-bottom: 20px;
}

.option-con {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.option-con span {
  display: block;
  margin-right: 10px;
}

.option-entry {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 5px;
}

.option-con label {
  margin-left: 10px;
}

/* Styles for other input fields */
input[type="text"],
select,
.option-entry {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 5px;
}

.test-subhead div {
  margin-top: 15px;
  font-size: 14px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-container button {
  flex: 1; /* Set the buttons to take equal width */
  margin-right: 10px; /* Add some margin between buttons */
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button-container button:last-child {
  margin-right: 0; /* Remove margin for the last button */
}

.button-container button:hover {
  background-color: #2980b9;
}
/* Add this CSS for the submit button */
.button-submit-container button {
  background-color: #2ecc71; /* Set your desired background color */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-top: 10px;
  width: 100%;
}

.button-submit-container button:hover {
  background-color: #27ae60; /* Set your desired hover background color */
}

@media (max-width: 768px) {
  .Ctest-main {
    flex-direction: column;
  }

  .left-bx,
  .right-bx {
    width: 100%;
  }
}
