body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
  }
  
  .mcq-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    box-sizing: border-box;
  }
  
  .question {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .options {
    list-style-type: none;
    padding: 0;
  }
  
  .option {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    margin-right: -500px;
  }
  
  .option input[type="radio"] {
    margin-right: 0px;
    
  }
  
  .submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  .loader {
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
  }
  